<!DOCTYPE html>
<html>
<head>
  <title>Ремонт</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#buttonForModal").click(function() {
        $("#myModal").reveal();
      });
    });
  </script>
</head>

<style type="text/css">
  body {
    margin:50px 50px; padding:0px;
    text-align:left;
  }
</style>
<body>

<%= yield %>

</body>
</html>
